* {
    margin: 0;
    padding: 0;
}

:root {
    --board-size: 300px;
    --square-size: calc(var(--board-size) / 3);
    --main-background-color: #111827;
    --mark-color: #e5e7eb;
    --text-color: #fafafa;
}

html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: 1fr 600px;
    background-color: var(--main-background-color);
}

.board {
    width: var(--board-size);
    height: var(--board-size);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
}

.board-square {
    width: var(--square-size);
    height: var(--square-size);
    border: 1px solid var(--mark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.board-square.X::before,
.board-square.X::after {
    content: '';
    position: absolute;
    width: calc(var(--square-size) * 0.13);
    height: var(--square-size);
    background-color: var(--mark-color);
}

.board-square.X::before {
    transform: rotate(45deg);
}

.board-square.X::after {
    transform: rotate(-45deg);
}

.board-square.O::before,
.board-square.O::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.board-square.O::before {
    width: calc(var(--square-size) * 0.9);
    height: calc(var(--square-size) * 0.9);
    background-color: var(--mark-color);
}

.board-square.O::after {
    width: calc(var(--square-size) * 0.65);
    height: calc(var(--square-size) * 0.65);
    background-color: var(--main-background-color);
}

.board-square:nth-child(-n + 3) {
    border-top: none;
}

.board-square:nth-child(3n + 1) {
    border-left: none;
}

.board-square:nth-child(3n + 3) {
    border-right: none;
}

.board-square:nth-child(n + 7) {
    border-bottom: none;
}

.game-end-message {
    display: none;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgb(100, 100, 100, 0.6);
    width: calc(var(--board-size) * 1.2);
    height: calc(var(--board-size) * 1.2);
    top: 330px;
    border: var(--mark-color);
    border-radius: 10px;
}

.game-end-message.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

.game-end-message-text {
    color: var(--text-color);
    font-size: 48px;
}

.game-end-message .restart-btn {
    width: 100px;
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: #475569;
    color: var(--text-color);
}